* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar {
	font-family: Ibarra Real Nova, sans-serif;
	font-size: 1.3rem;
}
 
#aboutme {
	font-family: Ibarra Real Nova, sans-serif;
	font-size: 1.5rem;

}

#ada {
	height: 50%;
	width: 50%;
}

#project1, #project2 {
	font-family: open sans, sans-serif;
	font-size: 1rem;
}

#project2 {
	background-color: #e317cb;
}


#html {
	height: 40%;
	width: 75%;
}

#bootstrap {
	height: 40%;
	width: 75;
}

#nodejs {
	height: 40%;
	width: 75%;
}